.styleguide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  &__navigation {
    width: 30%;
    min-width: 200px;
  }

  &__content {
    overflow: auto;
  }

  .input-label {
    display: none;
  }

  .example-row button,
  .example-row a {
    margin-right: 8px;
  }

  .sample__radio-buttons mat-radio-button {
    margin-right: 10px;
  }
}
