.ew-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #891b55;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
