<header class="ew-header">
  <div class="ew-header__title">
    <mat-icon class="ew-header__logo material-icons md-36 wp-header-logo">flight_takeoff</mat-icon>
    <h2>{{title}}</h2>
  </div>
  <div class="ew-header__buttons">
    <button mat-icon-button type="button" class="wp-error" (click)="showErrorDialog()" *ngIf="showError"
            matTooltip="Error output">
      <mat-icon style="color: red;">error</mat-icon>
    </button>
    <button mat-icon-button type="button" class="wp-debug" (click)="showDebugDialog()" *ngIf="showDebug"
            matTooltip="Debug output">
      <mat-icon style="color: #e17c00;">bug_report</mat-icon>
    </button>
    <button mat-icon-button type="button" class="wp-info" (click)="showInfoDialog()" matTooltip="About this app">
      <mat-icon>info_outline</mat-icon>
    </button>
  </div>
</header>
