<!--The content below is only a placeholder and can be replaced.-->
<!--<ew-header [title]="title"></ew-header>

<ew-styleguide-component></ew-styleguide-component>

<ew-footer [version]="version"></ew-footer>-->

<router-outlet></router-outlet>