<div class="product-edit">
    <h1>{{title}}</h1>
    <p *ngIf="this.id && !product"><em>Loading...</em></p>

    <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">      
        <div class="form-group">
            <label for="name">Product name:</label>
            <br />
            <input type="text" id="name"
                formControlName="name" required
                placeholder="Product name..."
                class="form-control"/>
        </div>

        <div class="form-group">
            <label for="description">Product description:</label>
            <br />
            <input type="text" id="description"
                   formControlName="description" required
                   placeholder="Description..."
                   class="form-control" />
        </div>


        <div class="form-group">
            <label for="amount">Product amount:</label>
            <br />
            <input type="text" id="amount"
                   formControlName="amount" required
                   placeholder="Amount..."
                   class="form-control" />
        </div>

        <div class="form-group">
            <label for="price">Product price:</label>
            <br />
            <input type="text" id="price"
                   formControlName="price" required
                   placeholder="Price..."
                   class="form-control" />
        </div>

        <div class="form-group commands">
            <button *ngIf="id" type="submit"
                    (click)="onSubmit()"
                    class="btn btn-success">
                Save
            </button>
            <button *ngIf="id" type="submit"
                    (click)="onDelete()"
                    class="btn btn-success">
                Delete
            </button>
            <button *ngIf="!id" type="submit"
                    (click)="onSubmit()"
                    class="btn btn-success">
                Create
            </button>
            <button type="button"
                    [routerLink]="['/']"
                    class="btn">
                Cancel
            </button>
        </div>
    </div>
</div>