<footer class="ew-footer">
  <div class="ew-footer__text">
    IT Enterprise Services Development
  </div>
  <div class="ew-footer__version" *ngIf="version">
    <span>v{{version}}</span>
  </div>
</footer>
