.ew-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  color: #888;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #891b55;
  }

  &__version {
    text-align: right;
  }
}
