<div class="row">
  <div class="col-md-12">
    <h3 mat-dialog-title style="line-height: 40px; font-size: 18px;">{{title}}</h3>
  </div>
</div>

<div md-dialog-content style="padding: 10px 24px;">
  <div class="row">
    <div class="col-md-12">
      {{content}}
    </div>
  </div>
</div>

<div md-dialog-actions style="text-align: right; display: block;">
  <button mat-raised-button type="button" color="primary" (click)="save()">{{confirmButton}}</button>
  <button mat-raised-button type="button" color="primary" (click)="cancel()">{{cancelButton}}</button>
  <!-- <div class="row">
    <div class="col-md-6 float-right">
      <button mat-raised-button type="button" color="primary" (click)="save()">{{confirmButton}}</button>
    </div>
    <div class="col-md-6 float-right">
      <button mat-raised-button type="button" color="primary" (click)="cancel()">{{cancelButton}}</button>
    </div>
  </div> -->
</div>